/*
 * jQuery Nivo Slider v3.2
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
/* The Nivo Slider styles */
.slider-wrapper{ position:relative;}
.slider_wrapper{position:relative;}
.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	max-width: none;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
	background:white; 
	filter:alpha(opacity=0); 
	opacity:0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:50%;
	z-index:9;
	cursor:pointer;
}
a.nivo-prevNav {
	left:2%;
	background-position:-57px 0;	
}
a.nivo-nextNav {
	right:2%;
	background-position:-41px 0 !important;	
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {	
	padding: 15px 0 5px;
	position: absolute;   
    width: auto;
	bottom:-120px;
	left:6%;	
	z-index:9;
	display:none;	
}
.nivo-controlNav a {
	cursor:pointer;
}
.nivo-controlNav a {
    border: 0 none;
    display:inline-block;
	background-color:#fff;
    height: 12px;
    margin:5px;
    text-indent: -9999px;
    width:50px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
}
.nivo-controlNav a.active {
	font-weight:bold;
    background-position: 0 -21px;
	background-color:#efc62c;
}

.nivo-directionNav a {
    border: 0 none;
    display: block;
    height: 43px; 
    text-indent: -9999px;
    transition: all 200ms ease-in-out 0s;
    width: 43px;	
	background:url(../images/slide-nav.png) no-repeat left top;	
}

/* Caption styles */

/* Caption styles */
.nivo-caption {
	position:absolute;
	right:15%;
	margin:0;
	z-index:8; width:40%; text-align:right; top:50%; transform:translateY(-50%); -webkit-transform:translateY(-50%); -o-transform:translateY(-50%); -ms-transform:translateY(-50%);-moz-transform:translateY(-50%);
}
.nivo-caption h2{ font-size:48px; color:#fff; font-weight:600; line-height:55px; margin:0 0 35px 0; padding:0; position:relative; }
.nivo-caption p{ background-color:#33acf2; font-size:24px; font-weight:400; color:#fff; margin-bottom:35px; padding:10px 20px; display:inline-block; line-height:24px;}

.nivo-caption .slide_morebtn{ border:1px solid #fff; color:#fff; border-radius:25px; text-transform:uppercase; padding:12px 35px; display:inline-block; }
.nivo-caption .slide_morebtn:hover{ border-color:#111; color:#fff;}