/*
Theme Name: Animate Lite
Theme URI: https://gracethemes.com/themes/free-pet-care-wordpress-theme/
Author: Grace Themes
Author URI:
Description: Animate Lite is a stylish and gracious, charming and visually stunning, elegant and refined, modern and responsive pet care WordPress theme. Its a flexible and very purposeful theme, dedicated to pets and animal lovers. It is specially developed to provide a very appealing space for animal care, pet care centers, pet stores and all other pet related business ventures. This multipurpose theme can also be used for pet adoption, dog training classes, pet sitters, online pet shops, pet hotels, veterinary clinics, safari and zoo sites, animal shelter charities, safari parks, wildlife charities and aquariums. Demo: http://www.gracethemesdemo.com/animate/

Version: 1.0
License: GNU General Public License version 2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: animate-lite
Tags:blog,two-columns,right-sidebar,full-width-template,custom-colors,custom-menu,custom-header,custom-logo,featured-images,editor-style,custom-background,threaded-comments,theme-options, translation-ready

Animate Lite WordPress Theme has been created by Grace Themes(gracethemes.com), 2019.
Animate Lite WordPress Theme is released under the terms of GNU GPL
*/

body{ background-color:#ffffff; margin:0; padding:0;line-height:24px; font-size:16px; color:#5c5c5c; font-family: 'Assistant', sans-serif; -ms-word-wrap:break-word; word-wrap:break-word; }
img{ border:none; margin:0; padding:0; height:auto; max-width:100%;}
.wp-caption, .wp-caption-text, .sticky, .gallery-caption, .aligncenter{ margin:0; padding:0; max-width:100% !important;}
*{ margin:0; padding:0; outline:none; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.clear{ clear:both;}
.left{ float:left;}
.right{ float:right;}
p{ margin:0; padding:0;}
a{ text-decoration:none; color:#efc62c;}
a:hover{ color:#111;}

/*
Lists style CSS
-------------------------------------------------------------*/
ol,ul{ margin:0; padding:0;}
ul li ul, ul li ul li ul, ol li ol, ol li ol li ol{ margin-left:10px;}
ul,ol { margin:0; padding: 0;}
ul {list-style: inside none disc;}
ol {list-style: decimal;}
ul li,ol li {margin-bottom: 0;	margin-left: 1.5em;}
dt {font-weight: 700;}
dd {margin: 0 1.5em 1.5em;}
audio:not([controls]) {	display: none;height: 0;}
img {border-style: none;}
svg:not(:root) {overflow: hidden;}
a {	background-color: transparent;	-webkit-text-decoration-skip: objects;}
a:active, a:hover {outline-width: 0;}
b, strong {	font-weight: bold;}
pre {background: #ddd;font-size: 14px;	font-size: 0.9375rem;line-height: 1.4;margin-bottom: 1.6em;	max-width: 100%;overflow: auto;	padding:20px;}
iframe{max-width:100%;}
.breadcrumbs{padding:10px 0; margin-bottom:0;}
nav.pagination{ clear:both;}
#comment-nav-above .nav-previous, #comment-nav-below .nav-previous{ float:none !important; margin:10px 0;}
nav.pagination .page-numbers{ background-color:#ccc; padding:10px 15px; font-size:15px; font-weight:600; color:#444;}
nav.pagination .page-numbers.current{background-color:#efc62c;}
ol.comment-list li{ list-style:none; margin-bottom:5px;}

figcaption,figure{	display: block;}
figure {margin: 1em 0;}
blockquote{ border-left:5px solid #33acf2; padding:10px 10px 10px 30px; color:#666; font-size:15px; line-height:1.5; margin-bottom:30px; font-style:italic;}
blockquote p{ margin-bottom:0 !important;}
hr {-webkit-box-sizing: content-box;-moz-box-sizing: content-box;box-sizing: content-box;	height: 0;	overflow: visible;}
.textwidget select{ width:100%;}
.tagcloud a{ font-size:12px !important; color:#fff; border:1px solid #fff; padding:5px 12px; margin:0 5px 5px 0; display:inline-block;}
.tagcloud a:hover{ border:1px solid #fff;}
table{ width:100%}

/*
Image Align CSS
--------------------------------------*/
.alignnone{ width:100%;}
img.alignleft, .alignleft{ float:left; margin:0 15px 0 0; padding:5px; border:1px solid #cccccc;}
img.alignright, .alignright{ float:right; margin:0 0 0 15px; padding:5px; border:1px solid #cccccc;}
.aligncenter, img.aligncenter { clear: both; display: block; margin-left: auto; margin-right: auto; margin-top:0;  height:auto;}


/*
Button CSS
--------------------------------------*/
.button{  border:1px solid #404040; color:#404040; padding:10px 30px; display:inline-block; border-radius:25px; -moz-border-radius:25px; -webkit-border-radius:25px; -o-border-radius:25px; -ms-border-radius:25px; }
.button:hover{ border:1px solid #33acf2; color:#33acf2; }
a.blogreadmore{ background-color:#505050; color:#fff ; padding:5px 20px; display:inline-block; border-radius:3px;}
a.blogreadmore:hover{ background-color:#404040; color:#fff; }

.learnmore{ background-color:#33acf2; color:#fff ;display: inline-block; padding:10px 30px; font-weight:600; }
.learnmore:hover{ background-color:#333;color:#fff ;}

.appointbtn{ background-color:#f0396e; color:#fff ;display: inline-block; padding:10px 30px; text-transform:uppercase; font-weight:600; border-radius:25px; -moz-border-radius:25px; -webkit-border-radius:25px; -o-border-radius:25px; -ms-border-radius:25px; font-size:14px; }
.appointbtn:hover{ background-color:#333;color:#fff ;}

/*
Heading Tags CSS
--------------------------------------*/
h1,h2,h3,h4,h5,h6{ font-family: 'Bitter', sans-serif; color:#303030; margin:0 0 20px; padding:0; font-weight:400; line-height:1.3; }
h1.entry-title{ font-weight:400; margin-bottom:35px; }
h1{ font-size:35px;}
h2{ font-size:32px;}
h3{ font-size:28px;}
h4{ font-size:24px;}
h5{ font-size:20px;}
h6{ font-size:16px;}

/* = Page layout css
-------------------------------------------------------------- */
.pet_contentbx_area{ float:left; width:65%; margin:0; padding:0 0 30px; }
.pet_contentbx_area ul, .pet_contentbx_area ol{ margin:0 0 20px 20px; }
.pet_contentbx_area ul li, .pet_contentbx_area ol li{ margin:0; }
.pet_contentbx_area ul ul, .pet_contentbx_area ol ol{ margin:0 0 0 30px; }
.fullwidth{ width:100% !important; float:none  !important;}
.fullwidth p{ margin-bottom:15px;}
.boxlayout{ width:1210px; margin:0 auto; background-color:#fff; position:relative; box-shadow:0 -8px 8px #111;}
.fulllayout{ width:100% !important;}
.pet_content_scroller{ padding:50px 0;}
.pet_content_scroller p{ margin-bottom:30px;}

/*
Main Content layout CSS
-------------------------------------------------------------*/
#sitelayout{ margin:0 auto;}
.container{ width:1170px; margin:0 auto; position:relative;}
.site-header{ width:100%; z-index:9999; box-sizing:border-box; background-color:#fff !important;}
.site-header.siteinner{ position:relative; padding-bottom:25px; }
body.home .fixed-header{ position:fixed !important; top:0; z-index:99999; }
body.home .no-sticky{ position:relative !important; background-color: transparent !important; }

.logo{ text-align:left; width:35%; float:left; margin:0; padding:20px 0; }
.logo a{ z-index:999; position:relative}
.logo h1 { font-weight:600; margin:0; font-size:40px;  letter-spacing:-1px;}
.logo a{color: #202020;}
.logo p{ color:#404040; display:block; letter-spacing:1px;}

.logowrapper{ background-color:#fff;}
.zig-zag-bottom{margin:-23px 0 0 0; bottom:-23px; position:relative; z-index:999;} 
.zig-zag-bottom:after {
    content: ""; display: block; width: 100%; height:23px; position: relative; bottom:0px; left:0px;
	background: linear-gradient(-45deg, transparent 23px, #ffffff 0), linear-gradient(45deg, transparent 23px, #ffffff 0);
    background-repeat: repeat-x;
    background-position: left bottom;
    background-size: 23px 35px;
}

/* = Site Header CSS
-------------------------------------------------------------- */
.site-header.fixed{ position: fixed; top:0; z-index:99999999; width:100%;}
.hdr_rightcol{ float:right; text-align:right; padding:30px 0;}

/*header Social icons*/
.hdr_social{ display:inline-block; text-align:center; padding-right:20px;}
.hdr_social a{  width:35px; height:35px; line-height:35px; font-size:16px; margin:0 5px 0 0; padding:0; color:#505050; display:inline-block; text-align:center; border-radius:4px;  }
.hdr_social a:hover{ color:#fff; }
.hdr_social br{ display:none;}

/*
Header Navigation CSS
-------------------------------------------------------------*/
.header_menubar{ background-color:#33acf2; display:block;width:100%; z-index:9999; position:relative;}
.toggle{display: block;}
.toggle a{width:100%; color:#ffffff; background:url(images/mobile-nav.png) no-repeat right center #3e3e3e; padding:8px 10px; margin-top:5px; font-size:16px; display:none; text-align:left;}
.toggle a:hover{color:#ffffff !important;}
/*main menu*/
.main_menu{ padding:0; z-index:9999; position:relative; width:100%;}
.main_menu ul { margin:0; padding:0; font-family: 'Assistant', sans-serif; font-weight:600; }
.main_menu ul li{display:inline-block; position:relative; margin:0;}
.main_menu ul li:last-child{border-right:none;}
.main_menu ul li a{ padding:18px 25px; display:block; text-align:center; color:#fff; text-transform:uppercase; }
.main_menu ul li ul li{ display:block; position:relative; float:none; border-bottom:1px solid #ddd;}
.main_menu ul li ul li a{ display:block; padding-top:7px; padding-bottom:7px; position:relative; text-align:left;}
.main_menu ul li ul{ display:none; z-index:9999999; position:relative; background-color:#33acf2 ; }
.main_menu ul li:hover > ul{ display:block; width:200px; position:absolute; left:0; text-align:left; }
.main_menu ul li:hover ul li ul{display:none; position:relative;}
.main_menu ul li:hover ul li:hover > ul{display:block; position:absolute; left:200px; top:0;}
.main_menu ul li a:hover, 
.main_menu ul li.current-menu-item a,
.main_menu ul li.current-menu-parent a.parent,
.main_menu ul li.current-menu-item ul.sub-menu li a:hover{ background-color:#fff; color:#202020;}
.main_menu ul li.current-menu-item ul.sub-menu li a{ background-color:transparent; color:#fff;}

.slider_wrapper{ position:relative;}
h2.sectiontitle{font-weight:600; font-size:40px; margin-bottom:50px; position:relative; text-align:center;}
.last_column{clear:right; margin-right:0 !important; }
#sidebar .search-form input.search-submit{ background:url(images/search-icon.png) no-repeat center center #efc62c; padding: 12px 0 12px 0; font-size:0; width:20%; height:43px; float:right; border:0;}

/* = Services 3 coloumn Section
-------------------------------------- */
#pageboxsection{ background-color:#f2f2f2; padding:80px 0; position:relative; z-index:9999; }
.servicesboxbg{background:#ffffff;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px; min-height:295px; overflow:hidden;}
.page_three_box{ padding:15px; width:50%; float:left; position:relative; box-sizing:border-box; }
.page_three_box .page_img_box{ width:190px; max-height:295px; overflow:hidden; margin:0;position:relative; float:left;  }
.page_three_box .page_img_box img{ height:auto; min-height: inherit; width:100%; vertical-align:top;}
.page_three_box h3{ font-size:25px; font-weight:600; margin:0 0 25px; text-transform:uppercase;}
.page_three_box h3 a{ color:#303030;}
.page_content{position:relative; padding:30px; display:table; }
.page_three_box:hover .page_img_box img{ display:block; opacity:0.4;}
.page_content p{ margin-bottom:30px; line-height:24px;}

/* = Welcome Section
-------------------------------------- */
#singlepagsection{ padding:80px 0; background-color:#f6f6f6}
.title_imgbox{ width:35%; float:left; margin:0 5% 0 0; }
.title_imgbox img{ width:100%; display:block; }
.title_imgbox h3{ font-family: 'Lobster', cursive; font-size:35px; padding-bottom:50px; margin-bottom:25px; position:relative; text-align:center;}
.title_imgbox h3:after{ background:url(images/title-border.png) no-repeat center bottom; width:147px; height:36px; position:absolute; bottom:0; left:0; right:0; margin:0 auto; content:'';}
.welcome_descbox{ width:60%; float:right; margin:0; }
.welcome_descbox p{ margin-bottom:40px; line-height:28px; padding:0; }

/* = Sidebar CSS
-------------------------------------------------------------- */
#sidebar{ float:right; width:28%; box-sizing:border-box;}
aside.widget{ background-color:#fff; margin-bottom:30px; padding:20px; box-shadow:0px 4px 20px 0px rgba(0, 0, 0, 0.1); }
h3.widget-title{ margin:0 0 20px; color:#303030; font-size:24px; font-weight:400; position:relative; text-align:center;  }
aside.widget ul{ list-style:disc; margin:0; padding:0; }
#sidebar ul li{ list-style:none; margin:0 0 2px; padding:7px 10px 7px 0;}
#sidebar ul li a{ color:#3b3b3b; }
#sidebar ul li a:before{content:"\f105"; font-family:'Font Awesome 5 solid'; font-size:14px; padding-right:7px}
#sidebar ul li a:hover{ color:#34c6f6;}
#sidebar ul li:last-child{ border:none;}
aside .textwidget{ padding:20px; background-color:#f5f5f4;}

/*sidebar search form css*/
#sidebar .search-form{ margin-bottom:20px;}
#sidebar .search-form input.search-field{ background-color:#fff; width:80%; padding: 13px 15px 13px 15px; border:1px solid #ddd; }
#sidebar .search-form input.search-submit{ background:url(images/search-icon.png) no-repeat center center #efc62c; padding: 12px 0 12px 0; font-size:0; width:20%; height:43px; float:right; border:0;}


/* = Blog post styles
-------------------------------------------------------------- */
.posts_grid_layout{ width:33%; float:left; margin:0 0 50px 0; padding:0 35px 0 0;}
.posts_grid_layout .blogthumbimg{ margin:0 0 20px 0; position:relative; height:270px; overflow:hidden;}
.posts_grid_layout .blogthumbimg img{ height:auto;}
.posts_grid_layout h3, h3.single-title{ margin-bottom:15px; font-size:20px; font-weight:400;}
.posts_grid_layout h3 a{ color:#484f5e;}
.posts_grid_layout h3 a:hover{ color:#efc62c;}
.posts_grid_layout p{ margin-bottom:20px;}
.blog-meta{ font-style:italic; margin-bottom:8px;}
.post-date, 
.post-comment, 
.post-categories, 
.edit-link{ display:inline; color:#333; font-weight:600; text-transform:uppercase; margin:0 10px 0 0;} 
.single_title{ margin-bottom:5px;}
body.single-post .posts_grid_layout { width:100%; float:none; margin:0; padding:0; }

.blog_postmeta{ margin-bottom:20px; color:#888; }
.blog_postmeta a{ color:#999;}
.blog_postmeta a:hover{ color:#33acf2;}
.blogpostmorebtn{ background-color:#505050; color:#fff; padding:10px 20px; font-weight:600; border-radius:3px; display:inline-block; }
.blogpostmorebtn:hover{ background-color:#303030; color:#fff;}

/* = Footer css
-------------------------------------------------------------- */
.site-footer{ background-color:#181717; padding:0; position:relative; color:#fff;}
.copyright-txt span{color:#fff;}
.powerby{ float:left; }
.design-by { float:right;}
.design-by a:hover{color:#999;}

.site-footer h4{ margin:0 0 30px 0; font-size:24px; font-weight:600; color:#fff; position:relative; padding-bottom:20px; }
.site-footer h4:after{ width:50px; position:absolute; bottom:0; left:0; margin:0 auto; content:''; border-bottom:1px solid #fff;}

.site-footer .widget{ padding:30px 0 20px;}

.footer-bottom{ background-color:#f0396e; color:#fff; position:relative; text-align:center; padding:20px 0;}
.footer-bottom a:hover{ color:#fff;}

.widget-column-1{ width:28%; float:left; margin:0 3% 0 0; }
.widget-column-2{ width:18%; float:left; margin:0 3% 0 0; }
.widget-column-3{ width:25%; float:left; margin:0 3% 0 0; }
.widget-column-4{ width:20%; float:left; margin:0; }

.site-footer ul{ margin:0; padding:0; list-style:inside disc;}
.site-footer ul li { padding:0 0 8px 0; margin:0; color:#fff;}
.site-footer ul li a { color:#fff; }
.site-footer ul li a:hover, .site-footer ul li.current_page_item a { color:#33acf2; }

/* = WooCommerce plugin css code
-------------------------------------------------------------- */
a.added_to_cart{background:#e1472f; padding:5px; display:inline-block; color:#fff; line-height:1;}
a.added_to_cart:hover{background:#000000;}
a.button.added:before{content:'' !important;}
#bbpress-forums ul li{padding:0;}
#subscription-toggle a.subscription-toggle{padding:5px 10px; display:inline-block; color:#e1472f; margin-top:4px;}
textarea.wp-editor-area{border:1px #ccc solid;}
.woocommerce input[type=text], .woocommerce textarea{border:1px #ccc solid; padding:4px;}
form.woocommerce-ordering select{ padding:5px; color:#777777;}
.woocommerce table.shop_table th, .woocommerce-page table.shop_table th{ color:#ff8a00;}
.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price{ color:inherit !important;}
h1.product_title, p.price{ margin-bottom:10px;}

.woocommerce table.shop_table th, .woocommerce-page table.shop_table th{ color:#ff6d84;}
.woocommerce ul.products li, #payment ul.payment_methods li{ list-style:none !important;}
.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price{ color:inherit !important;}
.woocommerce table.shop_table th, .woocommerce table.shop_table td{ border-bottom:0px !important}

.woocommerce .quantity .qty{ padding:7px; border:1px solid #ccc;}
.woocommerce-Price-amount.amount{font-size:14px !important;}
.woocommerce div.product .product_title{ padding-bottom:20px !important;}
.woocommerce div.product form.cart{ margin-top:15px !important;}


/* = Contact Form 7 css
-------------------------------------------------------------- */
.wpcf7{ margin:30px 0 0; padding:0;}
.wpcf7 input[type="text"], .wpcf7 input[type="tel"], .wpcf7 input[type="email"]{ width:40%; border:1px solid #cccccc; box-shadow:inset 1px 1px 2px #ccc; height:35px; padding:0 15px; color:#797979; margin-bottom:0;}
.wpcf7 textarea{width:60%; border:1px solid #cccccc; box-shadow:inset 1px 1px 2px #ccc; height:150px; color:#797979; margin-bottom:25px; font:12px arial; padding:10px; padding-right:0;}
.wpcf7 input[type="submit"]{background-color:#efc62c; width:auto; border:none; cursor:pointer; color:#ffffff; padding:10px 40px; border-radius:3px;}

/* Text meant only for screen readers. */
.screen-reader-text {clip: rect(1px, 1px, 1px, 1px);position: absolute !important;	height: 1px;width: 1px;	overflow: hidden;}
.screen-reader-text:focus {	background-color: #f1f1f1;	border-radius: 3px;	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);	clip: auto !important;	color: #21759b;	display: block;
	font-size: 14px;font-size: 0.875rem;font-weight: bold;	height: auto;left: 5px;	line-height: normal;padding: 15px 23px 14px;text-decoration: none;	top: 5px;	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* = Comment Form css
-------------------------------------------------------------- */
h1.screen-reader-text{font-family: 'Assistant', sans-serif; font-size:22px;}
.site-nav-previous, .nav-previous{ float:left;}
.site-nav-next, .nav-next{ float:right;}
h3#reply-title{ font-size:20px;}
#comments{ margin:30px 0 0; padding:0;}
nav#nav-below{ margin-top:15px;}

/* Comment styles */
ol.commentlist{list-style:none;}
#commentform p{margin:5px 0;}
#commentform label{display:block;}
#commentform input#email, #commentform input#url, #commentform input#author, #commentform textarea, #commentform input#eazycfc_captcha{max-width:96%; border:1px #ccc solid; padding:5px 2%;}
#commentform input#submit{ background-color:#32373a; border:none; padding:12px 25px; color:#fff; display:inline-block; cursor:pointer; border-radius:5px; text-transform:uppercase;}
#commentform input#submit:hover{background:#34c6f6; color:#fff;}
.form-allowed-tags{display:none;}
.entry-content table, .comment-body table{ border-collapse:collapse; margin:10px 0;}
.entry-content table td, .entry-content table th, .comment-body table td, .comment-body table th{padding:10px 5px; text-align:left;}
.entry-content table th, .comment-body table th{color:#676767; font:normal 18px Oswald; border-bottom:1px #888 solid;}
.entry-content table td, .comment-body table td{border-bottom:1px #ccc solid;}
.fvch-codeblock:hover .comment-form-url{display:block !important;}
.commentlist, ol.commentlist {list-style:none; box-shadow:0 0 5px #666; -moz-box-shadow:0 0 5px #666; -webkit-box-shadow:0 0 5px #666; -khtml-box-shadow:0 0 5px #666; margin:10px 0; background-color:#fff; padding:10px 0;}
.commentlist li, ol.commentlist li { list-style:none; background-image:none !important; padding:0px 15px;}
.commentlist li ol li.depth-2, .commentlist li ol li.depth-3, .commentlist li ol li.depth-4, ol.commentlist li ol li.depth-2, ol.commentlist li ol li.depth-3, ol.commentlist li ol li.depth-4 { border-bottom:none;}
.commentlist li.bypostauthor article, ol.commentlist li.bypostauthor article { background:#f9ffe1;}
.commentlist article, .commentlist li.bypostauthor li article, ol.commentlist li.bypostauthor li article { border:none !important; padding:10px; position:relative; background-color:#fff;}
.commentlist li .fn { font-weight:normal; font-size:15px; font-style:normal;}
.commentlist li.bypostauthor .fn, ol.commentlist li.bypostauthor .fn { color:#000;}
img.avatar { vertical-align:middle; position:static; display:inline-block;}
.commentlist article a time { display:block; clear:both; padding:5px 0 10px; font-size:11px; font-style:italic; }
.commentlist, ol.commentlist p { font-size:14px;}
.commentlist .reply span, ol.commentlist .reply span { display:none;}
.commentlist .reply a, ol.commentlist .reply a { display:block;	padding:10px; text-align:center; background:#f6f6f6; margin:5px 0; border:1px #ddd solid;}
.comment-author.vcard{display:inline-block; margin-right:15px;}
.comment-list ul.children li.comment{background-image:none; padding-left:5px;}

/*back to top css*/
#top{ position:relative;}
#back-top {	position: fixed; bottom: 15px; right:25px; z-index:9999;}
#back-top a { width:64px; display: block;text-align: center;	text-decoration: none; -webkit-transition: 1s;-moz-transition: 1s;transition: 1s;}
#back-top span {width:42px;height:42px;	display: block;	margin-bottom: 7px;	background: url(images/up-arrow.png) no-repeat center center;-webkit-transition: 1s;-moz-transition: 1s;transition: 1s;opacity:0.5;}