#customize-controls .control-section-example-1 .accordion-section-title:hover,
#customize-controls .control-section-example-1 .accordion-section-title:focus {
	background-color: #fff;
}

.control-section-example-1 .accordion-section-title .button {
	margin-top:  -4px;
	font-weight: 400;
	margin-left: 8px;
	background-color:#33acf2 !important;
	color:#fff;
	border-color:#33acf2 !important;
}

.rtl .control-section-example-1 .accordion-section-title .button {
	margin-left:  0;
	margin-right: 8px;
}
